* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #ededed;
  /* background: rgb(61, 87, 142); */
  background: #081b29;
  /* background: black; */
}

/* our old */

/* .header {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
} */
/* .logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  font-size: 30px;
} */
/* .navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
} */

/* Stack solution test */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
 background: #051129;
  align-items: center;
  padding: 20px 60px;
   top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}


.logo {
  color: white;
    position: relative;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  font-size: 30px;
   margin-left: -650px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  column-gap: 40px;
}

.listItem {
  width: min-content;
  white-space: nowrap;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  animation: slideTop 4s ease forwards;
  animation-delay: 0.1s;
}

nav a:hover {
  color: #0ef;
}

.hamburger {
  display: none;
}
.home {
  /* background: url(pic/Propic1765910212004.jpg)no-repeat;   */
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
/* img{
    border-radius: 900px;
    margin-left: 4rem;
    
} */
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  transition: 0.5s ease;
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box1 {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.btn-box1:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/* .about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
 } */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  /* padding-bottom:20% ; */
  max-width: 430px;
  height: auto;
  /* width: 500%; */
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 30px;
}
.about-img img {
  border-radius: 900px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: #0ef;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  /* margin-right: 90px; */
}
#service {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  margin-left: 80px;
}
.sub-title1{
   text-align: center;
  font-size: 60px;
  margin-left: 80px;
}
.sub-title1 span {
  color: #0ef;
}
.sub-title span {
  color: #0ef;
}
.contanier {
  padding: 90px;
}
.sky {
  color: #0ef;
  font-size: 50px;
  margin-bottom: 30px;
}
.insta {
  color: #0ef;
  font-size: 50px;
  margin-bottom: 30px;
}
.apple {
  color: #0ef;
  font-size: 50px;
  margin-bottom: 30px;
}
.about-text{
  animation: appear linear;
  animation-timeline:view() ;
  animation-range: entry 0% cover 40%;
}
@keyframes appear{
form {
  opacity: 0;
  transform: translateX(-100px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}
.sevices-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 140px;
}
.sevices-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}
.sevices-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.sevices-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.sevices-list div:hover {
  transform: translateY(-10px);
}
.img2 img {
  border-radius: 90px;
  margin-left: 70px;
}
section {
  display: flex;
  flex-wrap: wrap;
}
.sub-title {
  /* margin-left:110px; */
}
.contanier1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  /* text-underline-offset: 10px; */
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.bar {
  font-size: 23px;
}
.tecnical-bars .bar {
  margin-top: 40px 0;
}
.tecnical-bars .bar:first-child {
  margin-top: 0;
}
.tecnical-bars .bar:last-child {
  margin-bottom: 0;
}
.tecnical-bars .bar .info {
  margin-bottom: 5px;
}
.tecnical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showtext o.5s 1s linear forwards;
  opacity: 0;
}
.redical-bars{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 70px;
}
.redical-bars .redical-bar{
  width: 50px;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.redical-bars .redical-bar svg{
  position: absolute;
  top: 50%;
  left:50% ;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.redical-bars .redical-bar .progress-bars{
  stroke-width: 56px;
  stop-color:#black;
  fill:transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap:round;
  animation:animate-bar 1s 1s 1s linear forwards;
}
.redical-bar .persentage{
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50% -50%);
  font-weight: 500;
  font-size: 20px
  animation: showText 0.5s 1s linear forwards;
  opacity: 1;
}
/* .text1{
  font-size: 20px;
  font-family: serif;
} */
.path{
stroke-width: 10;
stroke: #0ef;
 fill: transparent;
 stroke-dasharray:502;
 stroke-dashoffset: 502;
 stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
.img1 img {
  border-radius: 90px;
  box-shadow: #0ef;
}
.bg-white {
  background-color: rgb(39, 38, 38);
  border-radius: 15px;

}
.react {
  width: 50%;
  height: 1rem;
}
.css {
  width: 90%;
  height: 1rem;
}
.html {
  width: 40%;
  height: 1rem;
}
.jawa {
  width: 30%;
  height: 1rem;
}
.python {
  width: 60%;
  height: 1rem;
}
.bg-white span{
  color: white;
  position: absolute;
  float: right;
  margin-left: 20vw;
  font-size: 25px;
   /* content: 90%; */
}
.bg-white p{
  font-size: 17px;
  margin-top: -5px;
  color:#1f2933;
}
.info {
  background-color: rgb(0, 238, 255);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px; content: 90%;
}
 {
  color: white;
}
.redical-bar .text1{
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-5opx);
  font-size: 20px;
  font-weight: 500;
  animation: shoeText 0.5s 1s linear forwards;
  opacity: 2;
  gap: 40px;
  margin-left: -39px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-text{
  padding-top: 130px;
  margin-top: 200px;
}
.main-text h2{
 font-size: 60px;
 line-height: 1;
 text-align: center; 
}
.main-text h2 span{
  color: #0ef;
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(359px, auto));
}
.row{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img{
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
} 
.img1 img{
  transition: background 2s, transform 2s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
  animation: slideTop 3s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  cursor: pointer;
}
.img1 img:hover{
    transform: translateY(-10px);
}
.img2 img{
  box-shadow: 1px 1px 20px #0ef, 1px 1px 40px #0ef;
  transition: background 0.5s transform 0.5s ;
   animation: slideTop 3s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  cursor: pointer;
}
.img2 img{
   transform: translateY(-10px);
}
.menu-icon img{
  color:#ff1919;
  float: right;
  margin-left: 90px;
}
.menu-icon{
  display: none;
}
.navbar1 ul li{
  display: none;
}
.tecnical-bars{
    animation: slideRight 3s ease forwards;
  animation-delay: calc(2s * var(--i));
  transition: 2s ease;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animate-path1{
  100%{
    stroke-dashoffset: 80%;
  }
}
@keyframes animate-path2{
  100%{
    stroke-dashoffset: 55%;
  }
}
@keyframes animate-path3{
  100%{
    stroke-dashoffset: 35%;
  }
}
@keyframes animate-path4{
  100%{
    stroke-dashoffset: 25%;
  }
}
@keyframes animate-bar{
100%{
  stroke-dashoffset: -1;
}
}
@keyframes animate {
  100% {
    transform: scaleX(4);
  }
}
.home-content{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.scrol{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@keyframes appear{
  form {
    opacity: 0;
    scale: 0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
/* @media only screen and (max-width:820px){
    .navbar a {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 0;
    overflow: hidden; 
  }
  .menu-icon{
    display: block;
  }
  .navbar1 ul li{
    display:block ;
    color: #0ef;
    width: 50px;
    animation: none;
    gap: 90px;
  }
   #menulist1{
    animation: none;
    display: inline;
   }

} */
@media screen and (max-width: 800px) {

  .header {
    flex-direction: column;
    padding: 30px;
    width: 830px;
  }
   
  .mobileHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.mobileHeader button{
  margin-left: 60px;
}
.mobileHeader a{
float: inline-end;
}
.logo{
  margin-left: -500px;
  font-size: 40px;
  /* margin-bottom: 40px; */
}
  .hamburger {
    display: block;
    float: right;
    margin-left: 700px;
    margin-top: 9px;
    width: 90px;
    position: absolute;
    height: 50px;
  }
  .home{
    margin-left: 30px;
    margin-top: 60px;
  }
  .home-content h3{
    font-size: 30px;
  }
  .home-content h1{
    font-size: 40px;
  }
  .home-content p{
    font-size: 20px;
  }
  .humburger1{
    width: 40px;
  }
  .menu {
    display: none;
  }
  .list {
    grid-auto-flow: row;
    list-style-type: none;
    row-gap: 40px;
    column-gap: 0;
    justify-items: center;
  }
  .img1 img{
   /* float:right ; */
   justify-content: center;
   align-items: center;
   margin-left: 20px;
}
.img2 img{
  margin-top: 110vw; 
  margin-left: 120px;
}
.about-text h2{
  margin-left: -440px;
  font-size: 60px;
  margin-top: -60vw;
}
.about-text p{
  margin-left: -650px;
  margin-right: 40px;
  font-size: 23px;
}
.about-text h4{
  margin-left: -650px;
  font-size: 28px;
  margin-top: 90px;
}
.btn-box1{
  margin-left: -440px;
  margin-top: 0vw;
  font-size: 20px;
  width: 220px;
  font-family: sans-se  rif;
}
.sevices-list{
  width: 750px;
  margin-left:30px;
}
.sevices-list div {
  margin-left: 20px;
}  
}

@media screen and (min-width: 801px) {
  .menu {
    display: block;
  }
}
 @media only screen and (max-width:389px) {
  .img2 img{
    margin-top: 420vw;
    margin-right: 90px;

    /* position: absolute; */
  }
  .logo{
    margin-left: -690px;
  }
  .home{
    margin-top: 120px;
    font-size: 50px;
  }
  .home-content{
    font-size: 50px;
  }
  .home-content h1{
    font-size: 50px;
  }
  .home-content h3{
    font-size: 50px;
  }
  .header{
    width: 880px;
  }
  .sevices-list{
  width: 600;
}
.header{
  width: 1140px;
}
 .about-text .programer{
/* background-color: #000000; */
 align-items: center;
justify-content: center;
margin-right: 110px;
}
.img1 img{
margin-left: 50px;
margin-top: 30px;
}
.about-text h4{

}
.redical-bars{
  display: flex;
  gap: 90px;
  margin-left: 0px;
  height: 200px;
}
.redical-bar svg{
  margin-left: 0px;
  width: 400px;
  height: 500px;
}
.redical-bar{
  width: 800px;
  height: 400px;
}
.btn-box1{
  margin-left:-630px;
  margin-top: 0vw;
  font-size: 20px;
  width: 220px;
  font-family: sans-serif;
}
.home-sci{
  width: max-content;
}
.about-text h2{
  margin-left: -540px;
  font-size: 60px;
  margin-top:-20vw;
}
.about-text p{
  /* margin-left: 100px; */
  font-size: 30px;
}
.about-text h4{
  margin-left:-650px;
  font-size: 30px;
}
.home-content{
  margin-left: 40px;
}
.sub-title{
  margin-left: 70px;
}
.sub-title1{
margin-left: 290px;
font-size: 70px;
}
.navbar1{
  display: inline;
  background-color: #000000;
}
.tecnical-bars{
 margin-left: 10px;
 width: 400px;
}
.redical-bars{
  margin-left: 80px;
}
.contanier1 h1{
  margin-left: 100px;
}
.heading1 span{
  font-size: 40px;
  display: flex;
  margin-left: 50px;
  text-decoration: none;
}
.btn-box{
  margin-top: 00px;
}
.img1 img{
  margin-top: 50px;
}
.home-content p{
  font-size: 30px;
}
.text{
  font-size:40px;
 margin-bottom: 50px;
}
.hamburger{
}
}
/* @media only screen and (min-width:600px){
   .img2 img{
    margin-top: 10vw;
    margin-right: 90px;
  }
  .header{
    width: 880px;
  }
  .sevices-list{
  width: 710px;
  margin-left:80px;
}
.img1 img{
  margin-top: 800px;
}
.redical-bars{
  display: flex;
  gap: 90px;
  margin-left: 0px;
  height: 200px;
}
.redical-bar svg{
  margin-left: 0px;
  width: 400px;
  height: 500px;
}
.redical-bar{
  width: 800px;
  height: 400px;
}
.btn-box1{
  margin-left: -490px;
  margin-top: 0vw;
  font-size: 20px;
  width: 220px;
  font-family: sans-serif;
}
.about-text h2{
  margin-left: -580px;
  font-size: 60px;
  margin-top: -100vw;
}
.about-text p{
  margin-left: -700px;
}
.about-text h4{
  margin-left: -700px;
}
.img1 img{
  margin-top: -40vw;
  margin-left: 45px;
}
.home-content{
  margin-left: 40px;
  margin-top: -17vw;
}
.sub-title{
  margin-left: 70px;
}
/* .sub-title1{
margin-left: 290px;
font-size: 70px;
position: absolute; 
}  */
/* .navbar1{
  display: inline;
  background-color: #000000;
}
.tecnical-bars{
 margin-left: 50px;
 width: 400px;
}
.redical-bars{
  margin-left: 90px;
}
.contanier1 h1{
  margin-left: 100px;
}
.heading1 span{
  font-size: 40px;
  display: flex;
  margin-left: 90px;
  text-decoration: none;
}
} */ */